.full-name {
    font-size: 56px;

    width: 200px;
    height: 60px;
    background: transparent;
    text-align: right;
    text-decoration: underline;
    }
.click{
    text-align: center;
}
.fun{
    color:red;
    font-family:cursive;
}
.know{
    color: black;
}

}
.jumbotron{
    height: 50vh;
}
.rule{
    font-family: 'Josefin Sans', sans-serif;
}
.mile{
    font-size: 24px;
    color: blueviolet;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Zen Loop', cursive;
    font-size: 50px;
}
.roww{
    background-image: url(../assets/background.jpeg);
    background-size: cover;
    color:white
}
.container-one{
    background-image: url(../assets/background\ one.jpg);
    background-size: cover;
}