.full-name {
    font-size: 56px;

    width: 200px;
    height: 60px;
    background: transparent;
    text-align: right;
    text-decoration: underline;
    }
.click{
    text-align: center;
}
.fun{
    color:red;
    font-family:cursive;
}
.know{
    color: saddlebrown;
}
.jumbotro{
    background-image:url(../u.jpg);
    background-size: cover;

}
.jumbotron{
    height: 50vh;
}